.firstBio {
    margin: 20px;
}

.secondBio {
    margin: 20px;
}

.thirdBio {
    margin: 20px;
}

@media only screen and (max-width: 1100px) {
    .firstBio {
        font-size: 15px;
    }

    .secondBio {
        font-size: 15px;
    }

    .thirdBio {
        font-size: 15px;
    }

    .firstbox {
        font-size: 10px;
    }
}