.container {
    height: 20rem;
    width: 25rem !important;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 20%;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

.inSkiImage {
    height: 500;
    padding: 90px;
}

@media screen and (max-width: 600px) {

    .firstbox {
      font-size: 25px !important;
    }

    .container {
        font-size: 2.6vw;
        width: 15rem !important;
    }

    .inSkiImage {
      padding-left: 30px;
      padding-right: 30px;
    }
}

@media screen and (max-width: 475px) {

    .container {
        font-size: 2.8vw;
        width: 15rem !important;
        height: 10rem !important;
    }

    .inSkiImage {
      padding: 100px !important;
    }
}

@media screen and (max-width: 340px) {

    .container {
        font-size: 2.8vw;
        width: 10rem !important;
    }

    .inSkiImage {
        padding-left: 30px;
        padding-right: 30px;
    }
}