@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
.header {
    min-height: 110vh;
  }
  .header .caption .o-hidden {
    display: inline-block;
  }
  .header .caption h2 {
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 4px;
    font-family: 'Kaushan Script', cursive;
  }
  .header .caption h1 {
    font-family: 'Urbanist', sans-serif;
    margin: 15px 0;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .header .caption .social {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgba(200, 200, 200, 0.05);
  }
  .header .caption .social a {
    padding: 0 15px;
    font-size: 14px;
  }
  .header .caption .social a:hover {
    color: #c49b66;
  }

  @media screen and (max-width: 480px) {
    .blc {
      font-size: 35px !important;
      font-family: 'Kaushan Script', cursive;
    }
}