.nav-wrapper {
    background-color: rgb(117, 117, 115);
    font-size: 0px;
    font-family: 'Source Code Pro', monospace;
    border-bottom: brown;
    border-bottom-width: 10px;
}

.nav-item {
    font-size: 30px;
}
