 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} 

 main {
  flex: 1 0 auto;
  background-color: rgb(182, 148, 76);
}

.page-footer {
  background-color: rgb(251, 223, 186);
}

.footer-copyright {
  background-color: rgb(245, 200, 141);
}

