.navbar {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: transparent;
	z-index: 9;
	min-height: 80px;
  }
  .navbar .icon-bar {
	color: #fff;
  }
  .navbar .navbar-nav .nav-link {
	font-size: 13px;
	font-weight: 500;
	color: #eee;
	letter-spacing: .5px;
	margin: 15px 5px;
	-webkit-transition: all .5s;
	transition: all .5s;
  }
  .navbar .navbar-nav .active {
	color: #c49b66 !important;
  }
  
  .nav-scroll {
	background: #222;
	padding: 0;
	position: fixed;
	top: -100px;
	left: 0;
	width: 100%;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
	-webkit-transform: translateY(100px);
			transform: translateY(100px);
  }
  
  .logo {
	padding: 15px 0;
	width: 90px;
  }